body {
  min-height: 100%;
  height: auto;
}

md-toolbar {
  padding-left: 1.5em;
}

md-toolbar > h6 {
  padding: 0;
  margin: 0;
  line-height: 4em;
}

.md-sidenav-left > md-toolbar {
  padding-left: 1em;
}

.doc-body {
  padding-left: 2em;
}

.doc-menu-holder {
  padding-top: 0.5em;
}

.doc-menu {
  display: flex;
  flex-direction: column;
  padding: 0em;
  margin: 0;
}

.doc-menu-header {
  padding: 0.5em;
  margin: 0.5em;
}

.doc-menu-item {
  display: flex;
  padding: 0;
  margin: 0;
}

.doc-menu-item-link {
  display: flex;
  flex: 1;
  padding: 0.5em 1em;
  margin: 0;
  text-decoration-none;
}

code {
  background-color: #F2f2f2;
  border: 1px solid #CCC;
  padding: 1px 2px;
  border-radius: 2px;
  font-family: inherit;
  font-size: 0.8em;
}

.view-source {
  display: none;
}

.definition-table {
  border: 1px solid #ddd;
  margin: 10px 0;
  max-width: 100%;
  width: 100%;
  background-color: #FAFAFA;
}

.definition-table td {
  background-color: white;
  vertical-align: top;
  padding: 1em;
}

.definition-table th {
  padding: 1em;
  text-align: left;
}

.definition-table td p {
  padding: 0;
  margin: 0;
}